@use "../abstracts" as ab;

// -----------------------------

%flexLine {
    display: flex;
    align-items: center;
}

// @include ab.screen(-) {
//     content
// }

// -----------------------------

.header {
    padding: 20px 0;
    background: var(--header-bg-color);

    @include ab.screen(lg) {
        padding: 10px 0;
    }

    // -- child
    &__inner {
        position: relative;
        @extend %flexLine;
        @include ab.screen(xl) {
            justify-content: space-between;
        }
    }

    //

    @include ab.screen(lg) {
        & .navbar__arrow {
            rotate: -90deg;
            transition: 0.5s;
        }

        & li.active > a > .navbar__arrow {
            rotate: 0deg;
        }
    }
}

.top-mobileBar {
    display: none;
    cursor: pointer;
    @include ab.screen(lg) {
        display: block;
        //
        img {
            width: 20px;
        }
    }
}

.mb-top-action {
    padding: 0 15px;
    flex-direction: column;
    gap: 20px;
    //
    &__item {
        display: flex;
        align-items: center;
        gap: 14px;
        /* Medium 15 */
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;
    }
    &__qtn {
        margin-left: auto;
    }
}

.navbar {
    margin-left: 130px;
    margin-right: auto;
    //
    @include ab.screen(xl) {
        margin-left: 0;
        margin-right: 0;
    }
    @include ab.screen(lg) {
        display: block;
        position: fixed;
        inset: 0 30% 0 0;
        padding: 20px 20px 20px 0;

        background-color: var(--dropdown-bg);
        z-index: 10;
        overflow-y: scroll;
        overscroll-behavior: contain;
        translate: -100%;
        transition: 0.5s;
        //
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--drop-menu-separator--thumb);
            border-radius: 8px;
        }
    }
    &.active {
        @include ab.screen(lg) {
            translate: 0%;
        }
    }

    @include ab.screen(sm) {
        inset: 0 10% 0 0;
    }

    &__overlay {
        display: none;
        @include ab.screen(lg) {
            display: block;
            position: fixed;
            inset: 0 0 0 0;
            z-index: 9;
            background-color: rgba(0, 0, 0, 0.5);
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
        }
    }
    &.active ~ &__overlay {
        visibility: visible;
        opacity: 1;
    }

    //
    &__list {
        @extend %flexLine;
        @include ab.screen(lg) {
            display: block;
        }
    }

    &__back {
        display: none;
        padding-left: 20px;
        padding-bottom: 20px;
        > svg {
            cursor: pointer;
        }
        @include ab.screen(lg) {
            display: block;
        }
    }

    &__link {
        > a {
            position: relative;
            @extend %flexLine;
            justify-content: space-between;
            padding: 15px;
            gap: 6px;
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
            //
            @include ab.screen(lg) {
                padding-top: 20px;
                padding-bottom: 10px;
            }
        }
        //
        > a::after {
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            //
            content: "";

            position: absolute;
            z-index: 2;
            left: 50%;
            top: calc(100% + var(--mega-menu-top-space));
            translate: -50% -18px;
            //
            display: block;
            width: 30px;
            height: 30px;
            background-size: 100%;
            background-size: contain;
            background-repeat: no-repeat;

            background-image: url(../../assets/icon/mega-menu-arrow.svg);
            filter: var(--dropdown-bg-filter);
            @include ab.screen(lg) {
                content: none;
            }
        }

        &:hover a::after {
            visibility: visible;
            opacity: 1;
        }

        //
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-action {
    @extend %flexLine;
    gap: 20px;
    position: relative;
    //
    &__group {
        @extend %flexLine;
        gap: 20px;
        padding: 10px 20px;
        border-radius: 8px;
        background: var(--top-action-color);
        box-shadow: var(--top-action-shadow);
        //
        @include ab.screen(md) {
            display: none;
        }
        //
        &--single {
            padding: 13px;
        }
    }

    &__btn {
        @extend %flexLine;
        gap: 10px;
        cursor: pointer;
    }

    &__icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
        user-select: none;
    }
    &__separator {
        height: 30px;
        width: 2px;
        background: var(--top-separator);
    }
    &__title {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__user {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        object-fit: cover;
        //
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }

        &:hover  &-wrap {
           display: block;
        }

        &-wrap {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 1;
            padding-top: 20px;
            width: 250px;
        }

        &-list {
            max-width: 80vh;
            overflow: auto;
            border-radius: 10px;
            padding: 20px 15px;
            //

            background-color: var(--FAFAFD-to-171C28);
            box-shadow: var(--top-action-shadow);
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-item {
            padding: 10px ;
            border-radius: inherit;
            //
            font-weight: 500;
            color: var(--text-color);
            user-select: none;
            cursor: pointer;
            transition: .5s;
            

            &:hover {
                background-color: var(--ededf6-to-9e9da8);
            }


            // 
            > img {
                width: 20px;
                height: 20px;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__preview-cart {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 80%;
        right: 0;
        padding-top: 40px;
        z-index: 1;
        transition: 0.5s;
    }
}

.top-action__preview-hover:hover .top-action__preview-cart {
    visibility: visible;
    opacity: 1;
}
