.cm-checkbox {
    $border-color: #9e9da8;
    $bg-color: #67b044;

    display: flex;
    align-items: center;
    flex-shrink: 0;
    &__box {
        $size: 20px;
        width: $size;
        height: $size;

        border-radius: 5px;
        border: 1.5px solid $border-color;

        &::after {
            flex-shrink: 0;
            content: "";
            display: none;
            width: 100%;
            height: 100%;
            background-image: url(../icon/checked.svg);
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    input:checked ~ &__box {
        background-color: $bg-color;
        border-color: $bg-color;

        &::after {
            display: block;
        }
    }
}


// <label class="cm-checkbox">
//     <input type="checkbox" hidden />
//     <span class="cm-checkbox__box"></span>
// </label>