@use "../abstracts" as ab;

// _______________________________________________

$mega-menu-top-space: 40px;
$mega-sideMenu-width: 24%;
$mega-menu--height: calc(100vh - 130px);
$side-menu-padding-right: 50px;
$side-menu-scroll-width: 5px;
// -----------------------------

%flexLine {
    display: flex;
    align-items: center;
}

// @include ab.breakpoint(-) {
//     content
// }

%scroll-costume {
    &::-webkit-scrollbar {
        width: $side-menu-scroll-width;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--drop-menu-separator--thumb);
        border-radius: 8px;
    }
}

// -----------------------------
.navbar__link:hover .dropdown {
    display: block;
}
@include ab.breakpoint(lg) {
    .navbar__link:hover .dropdown {
        display: none;
    }
    .navbar__link.active .dropdown {
        display: block;
    }
}

.dropdown {
    display: none;
    position: absolute;
    @include ab.breakpoint(lg) {
        // display: block;
        position: static;
        padding-top: 0;
    }

    //
    padding-top: $mega-menu-top-space;
    z-index: 1;
    top: 100%;
    left: 0;
    width: min(100%, 1240px);
    //
    &__board {
        height: $mega-menu--height;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--dropdown-bg);
        box-shadow: var(--dropdown-shadow);
        @include ab.breakpoint(lg) {
            height: auto;
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
        }
    }

    &__inner {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        //
    }
}

.drop-menu {
    &__side {
        width: $mega-sideMenu-width;
        @include ab.breakpoint(lg) {
            width: 100%;
            display: block;
            position: static;
        }
    }

    &__main {
        position: absolute;
        @include ab.breakpoint(lg) {
            display: none;
            position: static;
        }

        //
        inset: 0 0 0 calc($mega-sideMenu-width - $side-menu-scroll-width);
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-y: scroll;
        @extend %scroll-costume;
        padding-left: calc(
            $side-menu-padding-right * 0.5 + $side-menu-scroll-width
        );
        // display: none;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        @include ab.breakpoint(lg) {
            visibility: visible;
            opacity: 1;
        }

        //
        &--single {
            visibility: visible;
            opacity: 1;
            inset: 0 0 0 0;
            padding-left: 0;
            @include ab.breakpoint(lg) {
                padding-left: calc(
                    $side-menu-padding-right * 0.5 + $side-menu-scroll-width
                );
                display: block;
            }
        }
    }
    &__item:hover &__main {
        // display: grid;
        visibility: visible;
        opacity: 1;
    }
    // _______________________________________________
    &__column {
        &--side {
            height: calc($mega-menu--height - 60px);
            overflow-y: scroll;
            //
            @include ab.breakpoint(lg) {
                height: auto;
                overflow: visible;
            }
            // scrollbar-width: thin;
            @extend %scroll-costume;
            &::-webkit-scrollbar-track {
                background: var(--drop-menu-separator);
            }
        }
    }

    // _______________________________________________

    &__title {
        @extend %flexLine;
        gap: 14px;
        margin-bottom: 20px;

        color: var(--drop-menu-text-color);
        font-weight: 500;
        line-height: 1.5; /* 150% */
        &:not(:first-child) {
            margin-top: 30px;
            @include ab.breakpoint(lg) {
                margin-top: 20px;
            }
        }
        @include ab.breakpoint(lg) {
            margin-top: 20px;
        }
    }
    &__icon {
        position: relative;
        width: 36px;
        height: 36px;
        //
        &-color {
            width: 80%;
            height: 80%;
        }
        &-shape {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 70%;
        }
    }
    //
    &__list {
        padding-left: 50px;

        @include ab.breakpoint(lg) {
            padding-left: 15px;
        }
    }

    &__item {
        display: block;
        width: 100%;
        padding-right: calc($side-menu-padding-right * 0.5);
        color: var(--drop-menu-text-color);
        font-size: 1.4rem;
        line-height: 1.42;

        @include ab.breakpoint(lg) {
            padding-right: 0;
        }
    }

    &__item > a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-bottom: 14px;
        @include ab.breakpoint(lg) {
            // margin-bottom: 15px;
            padding-right: 35px;
        }
    }
    &__item:hover > a {
        color: var(--drop-menu-hover-text);
        text-shadow: 0 0 0.5px var(--drop-menu-hover-text);
    }

    &__item--side > a {
        @include ab.breakpoint(lg) {
            padding-bottom: 0px;
            padding-top: 10px;
        }
    }

    //
}
//  _________________________

@include ab.breakpoint(lg) {
    .drop-menu__item--side.active > .drop-menu__main {
        display: block;
    }
}
