@use "../abstracts" as ab;

.recover {
    &__email-submit {
        @include ab.common-btn(10px, 20px, 5px);
        // font-size: 1.8rem;
        // color: var(--text-color);
        font-weight: 500;
        margin-left: 5px;
        pointer-events: none;
        opacity: 0.5;
        cursor: pointer;
    }

    input:valid ~ &__email-submit {
        pointer-events: initial;
        opacity: 1;
    }

    &__email {
        margin-top: 100px;
    }

    &__link {
        display: none;
    }

    &__email:has(:checked) + &__link {
        display: block;
    }
}

.success-roast {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(10, 226, 10, 0.4);

    background-color: rgba(97, 208, 97, 0.1);
    color: var(--text-color);
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
}
