@use "../abstracts" as ab;

// _______________________________________________

/* slice show */

.slideShow {
    //
    &__inner {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        overflow: hidden;
    }

    &__img {
        flex-shrink: 0;
        display: block;
        width: 100%;
        user-select: none;
        //
        img {
            display: block;
            width: 100%;
            border-radius: 20px;
        }
    }

    &__slideBar {
        flex-shrink: 0;
        position: absolute;
        left: 5%;
        bottom: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__min,
    &__max {
        flex-shrink: 0;
        color: var(--slide-show-bar-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
        user-select: none;
    }

    &__bar {
        $circle-size: 14px;
        //
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 184px;
        height: 4px;
        background-color: var(--slide-show-bar-color);
        margin: 0 $circle-size;
        //
        &::before,
        &::after {
            content: "";
            display: block;
            width: $circle-size;
            height: $circle-size;
            background-color: transparent;
            border: 4px solid var(--slide-show-bar-color);
            border-radius: 50%;
        }
        &::before {
            translate: -100%;
        }
        &::after {
            translate: 100%;
        }

        @include ab.screen(lg) {
            width: 90px;
        }
    }
}
