html.dark {
    --main-body-bg: #292e39;
    //
    --text-color: rgb(255, 255, 255);
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7500%) hue-rotate(175deg) brightness(100%) contrast(113%);
    --header-bg-color: #171c28;
    --top-action-color: #292e39;
    --top-action-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2);
    --top-separator: #ededf6;

    //  dropdown
    --dropdown-bg: #292e39;
    --dropdown-bg-filter: brightness(0) saturate(100%) invert(12%) sepia(5%)
        saturate(3445%) hue-rotate(184deg) brightness(93%) contrast(82%);
    --dropdown-shadow: 0 10px 90px 25px rgba(23, 28, 40, 0.4);
    --drop-menu-hover-text: #0071dc;
    --drop-menu-separator: #171c28;
    --drop-menu-separator--thumb: rgba(255, 255, 255, 0.5);
    --drop-menu-text-color: #b9babe;

    //  slide-show
    --slide-show-bar-color: #ffffff;

    // category
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-price-text: #ffffff;
    --cate-item-desc-text: #ffffff;

    // product
    --product-filter-bg: #171c28;
    --product-filter-text: #ffffff;
    --product-favBtn-bg: #292e39;
    --product-favBtn-shadow: 0 20px 60px 5px rgba(124, 124, 124, 0.15);
    --product-item-desc-text: #9e9da8;

    // filter

    --filter-bg: #292e39;
    --filter__price-line: #d2d1d6;
    --filter__price-dot: #292e39;
    --filter__price-dot-border: #ffb700;
    --filter__option-item-text: #9e9da8;

    // cart preview
    --cart-preview-text-color: #b9babe;
    --cart-preview-bg: #292e39;
    --cart-preview-separate-line: #171c28;
    --cart-preview-checkout-btn: #ffb700;
    --cart-preview-checkout-text: #1a162e;
    --cart-preview-link: #0071dc;
}
