html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(37%)
        saturate(857%) hue-rotate(210deg) brightness(89%) contrast(99%);
    --header-bg-color: #eee;
    --top-action-color: white;
    --top-action-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
    --top-separator: #ededf6;
}
