html {
    --main-body-bg: #f6f6f6;
    //
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(37%)
        saturate(857%) hue-rotate(210deg) brightness(89%) contrast(99%);
    --header-bg-color: #eee;
    --top-action-color: white;
    --top-action-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.3);
    --top-separator: #ededf6;
    --active-green: #67b044;

    //  dropdown
    --dropdown-bg: #ffffff;
    --dropdown-bg-filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
        saturate(14%) hue-rotate(212deg) brightness(104%) contrast(104%);
    --dropdown-shadow: 0 10px 90px 25px rgba(200, 200, 200, 0.4);
    --drop-menu-hover-text: #0071dc;
    --drop-menu-separator: #d2d1d6;
    --drop-menu-separator--thumb: rgba(0, 0, 0, 0.3);
    --drop-menu-text-color: #1a162e;

    //  slide-show
    --slide-show-bar-color: #ffffff;

    // category
    --cate-item-bg: #eeeeee;
    --cate-item-thumb-bg: white;
    --cate-item-price-text: #000;
    --cate-item-desc-text: #1a162e;

    // product
    --product-filter-bg: #ffffff;
    --product-filter-text: #6c6c72;
    --product-favBtn-bg: #ffffff;
    --product-favBtn-shadow: 0 20px 60px 5px rgba(124, 124, 124, 0.25);
    --product-item-desc-text: #9e9da8;

    // filter

    --filter-bg: #ffffff;
    --filter__price-line: #d2d1d6;
    --filter__price-dot: #fff;
    --filter__price-dot-border: #ffb700;
    --filter__option-item-text: #9e9da8;

    // cart preview
    --cart-preview-text-color: #1a162e;
    --cart-preview-bg: #ffffff;
    --cart-preview-separate-line: #d2d1d6;
    --cart-preview-checkout-btn: #ffb700;
    --cart-preview-checkout-text: #1a162e;
    --cart-preview-link: #0071dc;

    // page path
    --page-path-bg: #ebebeb;
    --page-path-arrow: brightness(0) saturate(100%) invert(69%) sepia(6%)
        saturate(363%) hue-rotate(206deg) brightness(90%) contrast(95%);
    --page-path-text: #9e9da8;
    --page-path-active-text: #1a162e;

    // production
    --production-content-bg: #f1f1f1;
    --production-text: #1a162e;
    --production-discount-text: #67b044;
    --production-discount-bg: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.8) 100%
        ),
        #67b044;
    --production-cta-bg: #ffb700;
    --production-shipping-text: #1a162e;
    --production-price-border: #b9babe;
    --production-price-text: #000000;
    --production-price-cta-text: #000000;

    --production-tabs-text: #9e9da8;
    --production-tabs-active-text: #1a162e;

    // review
    --review-item-bg: #fafafd;

    // user nav
    --user-nav-header-text: #ffffff;
    --user-nav-avatar-border: 5px solid rgba(255, 255, 255, 0.2);
    --user-nav-list-text: #1a162e;
    --user-nav-body-bg: #ffffff;
    --user-nav-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.4);

    //  user page
    --user-page-text: #1a162e;
    --user-page-main-bg: #ffffff;
    --user-page-main-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.4);

    //user card
    --user-card-border: #d2d1d6;

    // user info
    --user-info-item-bg: #f6f6f6;
    --user-info-item-icon-bg: #ffffff;
    --user-info-item-text: #1a162e;

    // user-item
    --user-list-text: #1a162e;
    --user-list-border: #d2d1d6;
    --user-list-action-text: #1a162e;
    --user-list-action-bg: #ffb700;

    // user modified
    --user-mod-place-holder: #d2d1d6;
    --user-mod-border: #d2d1d6; // 292E39 ;
    --user-mod-text: #1a162e; //  #B9BABE
    --user-mod-btn-text: #1a162e;
    --user-mod-btn-bg: #ffb700;

    // check out
    --check-out-dark-to-gray: #1a162e; // #B9BABE
    --check-out-action-text: #9e9da8;
    --check-out-action-filter: brightness(0) saturate(100%) invert(85%)
        sepia(1%) saturate(3812%) hue-rotate(213deg) brightness(77%)
        contrast(79%);
    --check-out-minor-calc-text: #1a162e;
    --check-out-D2D1D6-to-292E39: #d2d1d6;
    --check-out-dark-to-gray-filter: brightness(0) saturate(100%) invert(6%)
        sepia(23%) saturate(4962%) hue-rotate(233deg) brightness(88%)
        contrast(92%);

    // new
    --1A162E-to-B9BABE: #1a162e;
    --filter-1A162E-to-B9BABE: brightness(0) saturate(100%) invert(9%)
        sepia(42%) saturate(741%) hue-rotate(210deg) brightness(97%)
        contrast(100%);
    --D2D1D6-to-292E39: #d2d1d6;
    --linear-7644e1-to-292E39: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 100%
        ),
        #7644e1;
    --9E9DA8-to-292E39: #9e9da8;
}
