*,
::before,
::after {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--drop-menu-separator--thumb);
        border-radius: 8px;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    background-color: var(--main-body-bg);
}

.icon-color {
    filter: var(--icon-color);
}

// @use "../abstracts" as ab;

// _______________________________________________
// @include ab.screen(lg) {
// }

//  @include ab.common-btn ()  ;
