*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    background-color: var(--main-body-bg);
}

.icon-color {
    filter: var(--icon-color);
}



// @use "../abstracts" as ab;

// _______________________________________________
// @include ab.screen(lg) {
// }

