<div class="container">
    <div class="header__inner">
        <!-- mobile -->
        <label for="#!" class="top-mobileBar">
            <img
                src="./assets/icon/mobile-bar.svg"
                alt=" "
                class="icon-color"
            />
        </label>
        <!--  -->
        <section class="logo">
            <img src="./assets/icon/main-logo.svg" alt=" " class="logo__icon" />
            <h1 class="logo__title">grocery mart</h1>
        </section>
        <!--  -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__link">
                    <a href="#!" class="navbar__link-text"
                        >Departments
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon-color navbar__arrow"
                        />
                    </a>
                    <!-- dropdown -->
                    <section
                        class="dropdown"
                        style="visibility: visible; opacity: 1"
                    >
                        <div class="dropdown__board">
                            <div class="dropdown__inner">
                                <section class="drop-menu__side">
                                    <div
                                        class="drop-menu__column drop-menu__column--side"
                                    >
                                        <div class="drop-menu__title">
                                            <div class="drop-menu__icon">
                                                <div
                                                    class="drop-menu__icon-color"
                                                ></div>
                                                <img
                                                    src=""
                                                    alt=" "
                                                    class="drop-menu__icon-shape"
                                                />
                                            </div>
                                            All Departments
                                        </div>
                                        <ul class="drop-menu__list">
                                            <li class="drop-menu__item">
                                                <a href="#!"
                                                    >Savings & Featured Shops</a
                                                >
                                                <section
                                                    class="drop-menu__main"
                                                >
                                                    <!-- column -->
                                                    <div
                                                        class="drop-menu__column"
                                                    >
                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->

                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->
                                                    </div>
                                                    <!-- column end -->
                                                    <!-- column -->
                                                    <div
                                                        class="drop-menu__column"
                                                    >
                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->

                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->
                                                    </div>
                                                    <!-- column end -->

                                                    <!-- column -->
                                                    <div
                                                        class="drop-menu__column"
                                                    >
                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->

                                                        <!-- part -->
                                                        <div
                                                            class="drop-menu__title"
                                                        >
                                                            <div
                                                                class="drop-menu__icon"
                                                            >
                                                                <div
                                                                    class="drop-menu__icon-color"
                                                                ></div>
                                                                <img
                                                                    src=""
                                                                    alt=" "
                                                                    class="drop-menu__icon-shape"
                                                                />
                                                            </div>
                                                            All Departments
                                                        </div>
                                                        <ul
                                                            class="drop-menu__list"
                                                        >
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Savings &
                                                                    Featured
                                                                    Shops</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Electronics</a
                                                                >
                                                            </li>
                                                            <li
                                                                class="drop-menu__item"
                                                            >
                                                                <a href="#!"
                                                                    >Clothing,
                                                                    Shoes &
                                                                    Accessories</a
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- part -->
                                                    </div>
                                                    <!-- column end -->
                                                </section>
                                            </li>
                                            <li class="drop-menu__item">
                                                <a href="#!">Electronics</a>
                                            </li>
                                            <li class="drop-menu__item">
                                                <a href="#!"
                                                    >Clothing, Shoes &
                                                    Accessories</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </li>
                <li class="navbar__link">
                    <a href="#!" class="navbar__link-text"
                        >Grocery
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon-color navbar__arrow"
                        />
                    </a>
                    <!-- dropdown -->
                    <section class="dropdown">
                        <div class="dropdown__inner">dropdown 2</div>
                    </section>
                </li>
                <li class="navbar__link">
                    <a href="#!" class="navbar__link-text"
                        >Beauty
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon-color navbar__arrow"
                        />
                    </a>
                    <!-- dropdown -->
                    <section class="dropdown">
                        <div class="dropdown__inner">dropdown 3</div>
                    </section>
                </li>
            </ul>
        </nav>
        <!--  -->
        <section class="top-action">
            <div class="top-action__group top-action__group--single">
                <button class="top-action__btn">
                    <img
                        src="../assets/icon/search.svg"
                        alt=" "
                        class="icon-color top-action__icon"
                    />
                </button>
            </div>

            <div class="top-action__group">
                <button class="top-action__btn">
                    <img
                        src="../assets/icon/heart.svg"
                        alt=" "
                        class="icon-color top-action__icon"
                    />
                    <span class="top-action__title">03</span>
                </button>
                <div class="top-action__separator"></div>
                <button class="top-action__btn">
                    <img
                        src="../assets/icon/cart.svg"
                        alt=" "
                        class="icon-color top-action__icon"
                    />
                    <span class="top-action__title">$65.42</span>
                </button>
            </div>

            <img
                src="./assets/img/avatar.jpg"
                alt="user"
                class="top-action__user"
            />
        </section>
    </div>
</div>
