@use "sass:map";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $point: map.get($grid-breakpoints, $key);

    @if ($point != null) {
        @media (max-width: calc($point - 0.2px)) {
            @content;
        }
    } @else {
        @error "Invalid parameter: #{$key}";
    }
}

@mixin common-btn(
    $padding-y: 0,
    $padding-x: 0,
    $border-r: 999px,
    $text-color: #1a162e
) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $padding-y $padding-x;
    border-radius: $border-r;
    background-color: #ffb700;
    color: $text-color;
    transition: 0.5s;
    &:hover {
        color: white;
    }
}
